[client]
port = 3306
socket = /tmp/mysql.sock

[mysql]
prompt="MySQL [\d]> "
no-auto-rehash

[mysqld]
# GENERAL
datadir = /data/mysql
socket = /tmp/mysql.sock
pid_file = /data/mysql/mysql.pid
user = mysql
port = 3306
default_storage_engine = InnoDB

# LOGING
log_error = /data/mysql/mysql-err.log
slow_query_log = /data/mysql/mysql-slow.log
