[client]
socket = /mqOps/mysqlEnv/mysql.sock

[mysqld]
# GENERAL
datadir = /mqOps/mysqlEnv
socket = /mqOps/mysqlEnv/mysql.sock
pid_file = /mqOps/mysqlEnv/mysql.pid
user = mysql
port = 4407
default_storage_engine = InnoDB

# INNODB
innodb_buffer_pool_size = 8G
innodb_log_file_size = 256M
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT

# LOGING
log_error = /mqOps/mysqlEnv/mysql-err.log
slow_query_log = /mqOps/mysqlEnv/mysql-slow.log

# OTHER
tmp_table_size = 32M
max_heap_table_size = 32M
query_cache_type = 0
query_cache_size = 0
max_connections = 5000
#thread_cache = value
#table_cache = value
open_files_limit = 655355
